# Running "docker-compose up" (active process)
# or "docker-compose start" (background process)
# will setup our development database
services:
  db:
    image: postgres
    ports:
      # This means you can connect to 'localhost:15432' from your computer
      # and it will patch it through to the container-port 5432
      - "15432:5432"
    environment:
      - POSTGRES_USER=hu-s4-lingo-dbadmin
      - POSTGRES_PASSWORD=hu-s4-lingo-pwd
      - POSTGRES_DB=hu-s4-lingo
    volumes:
      # Mount SQL init files (portable across OSes)
      - "./database/mount/01-init.sql:/docker-entrypoint-initdb.d/01-init.sql:ro"
      - "./database/mount/lingo_words.sql:/docker-entrypoint-initdb.d/lingo_words.sql:ro"

      # Use a named docker volume for Postgres data
      - "pgdata:/var/lib/postgresql"

# Define named volumes below
volumes:
  pgdata:
    driver: local
